/*
    Excel site color CSS
*/

.choose-topic a,
.home-page-content a,
.article-heading-info a,
.author-bio a,
.additional-info-blocks a,
.author-red,
.more-help a,
.commenter-name a,
.comments-header p,
.center-column a,
.right-column a,
.exp-teaser a:hover {
  color: #227446;
}

.overlay-content a,
.overlay-content-tablet a,
.overlay-content-xs a {
  color: #ffffff;
}

.author-bio a:hover {
  color: #ffc528;
}

.please-note-big,
.please-note-small,
.comments-header,
.exp-footer-hr {
  border-color: #227446;
}

.red-heading-container {
  background-color: #227446;
}

.navbar-inverse {
  background-image: -webkit-linear-gradient(top, #227446 0, #227446 100%);
  background-image: linear-gradient(to bottom, #227446 0, #227446 100%);
}

.comment-link2 {
  display:  block; 
  font-size: 16px; 
  font-weight: bold; 
  width: 32px; 
  height: 32px; 
  background: transparent url(https://images.tips.net/commonImages/excel-comments-32.png) 0px 2px no-repeat; 
  text-align: center; 
}